$cardpadding: 6rem;

.all_comments {
  grid-column: 3 / 13;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 8rem;
  min-height: 60rem;

  .comment_card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem $cardpadding;
    height: 43.5rem;

    @include createAvatar(4rem);

    .flagged_icon {
      width: 2.7rem;
      position: absolute;
      top: 3rem;
    }

    .comment_date_posted {
      display: flex;
      position: absolute;
      right: 4rem;
      top: 3rem;
      width: auto;
      align-items: center;

      img {
        width: 1.7rem;
        margin-right: 1rem;
      }

      h4 {
        color: $night-time;
      }
    }

    .comment_body {
      margin-bottom: 7rem;
      @include lineClamp(4);
    }

    .comment_author {
      display: flex;
      margin: 5rem 0;
      background: #F2F6FC;
      align-items: center;
      border-radius: 7rem;
      // border: 3px solid rgb(137 147 182 / 20%);
      // box-shadow: inset 0px 0px 13px 6px rgb(172 181 198 / 36%);

      .avatar {
        position: relative;
        z-index: 1000;
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
        overflow: hidden;
        border: 0px solid #fff;
        margin-right: 4rem;

        img {
          height: 100%;
          position: absolute;
          -o-object-fit: cover;
          object-fit: cover;
          top: 0;
          left: 0;
        }
      }

      .posted_by_info {

        .posted_by {
          color: $primary;
        }

        .name {
          color: $night-time;
        }
      }


    }

    .recs_replies {
      display: flex;
      margin-top: 3rem;
      justify-content: space-between;

      position: absolute;
      bottom: 4rem;
      width: 100%;
      padding-right: calc($cardpadding * 2);

      .recs,
      .replies {
        display: flex;

        .label {
          margin-right: 1rem;
          font-weight: bold;
          color: $primary;
        }

        h4 {
          color: $night-time;
        }
      }
    }
  }
}

.filter_comments {
  grid-column: 11/13;
  margin-bottom: 8rem;
}