.blogcreate {
  height: 55rem;
  display: flex;
  padding-top: 0;

  @include respond(bp-medium) {
    padding: 0 3rem;
  }



  .heading-2 {
    position: relative;
    z-index: 200;
    margin: auto;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    width: 60%;

    @include respond(bp-small) {
      width: 85%;
      font-size: 4rem;
    }

  }
}

.formCreation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;

  .inputFields {
    grid-column: 1 / 6;

    @include respond(bp-large) {
      grid-column: 1 / -1;
      margin-bottom: 6rem;
    }

    @include respond(bp-small) {

      .fieldLable {
        font-size: 2rem;
        flex: 30%;
      }

    }

    .field {
      height: auto;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 3rem;

      .fieldLable {
        margin-bottom: 1rem;
      }

      .form-control {
        height: 4rem;
        color: $maintext;
      }
    }

  }

  .cat-list {
    grid-column: 7 / -1;

    @include respond(bp-large) {
      grid-column: 1 / -1;
      margin-bottom: 6rem;
    }

    .heading-5 {
      text-align: center;
      font-size: 1.8rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;

      .cat_list_item {
        list-style: none;
        width: 33%;
        margin-bottom: 3rem;
        display: flex;
      }
    }
  }

  .heading-4 {
    font-size: 2.7rem;
    grid-column: 1/-1;
    text-align: center;
    padding: 7rem 0;
  }

  .uploadpreview,
  .inputTextbox {
    grid-column: 1 / 3;
  }

  .uploadpreview {
    height: 43rem;
    grid-column: 1 / -1;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
    }
  }

  .upload-btn {
    grid-column: 1 / -1;
    justify-self: end;
    padding: 1rem 0;
    margin: 3rem 0;
  }

  .inputTextbox {
    grid-column: 1 / -1;
    margin: 3rem 0 1rem 0;

    .quill {
      width: 100%;
    }
  }

  .btn-publish {
    grid-column: 1 / -1;
    justify-self: end;
    margin: 3rem 0;
  }
}