.blogcreate {
  height: 55rem;
  display: flex;
  padding-top: 0;

  @include respond(bp-medium) {
    padding: 0 3rem;
  }



  .heading-2 {
    position: relative;
    z-index: 200;
    margin: auto;
    color: #fff;
    font-size: 5rem;
    text-align: center;
    width: 60%;

    @include respond(bp-small) {
      width: 85%;
      font-size: 4rem;
    }

  }
}

.uploadpreview {
  grid-column: full-start/full-end;
  height: 50rem;
  overflow: hidden;
  position: relative;
  margin-top: 7.3rem;


  .heading {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 2000;

    @include absCenter;

    .admin_heading-4 {
      font-size: 2.9rem;
      z-index: 3000;
      margin-bottom: 3rem;
    }
  }

  .uploaded_photo {
    position: relative;
    width: 100%;
    height: 100%;

    .img_info {
      width: 32rem;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 5rem;
      right: 10rem;
      z-index: 200;

      .admin_heading-4 {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 0.8rem;
        font-weight: 500;
      }

      .btns {
        display: flex;

        .change_photo,
        .delete_photo {
          width: 5rem;
          cursor: pointer;
        }
      }
    }

    .main-photo {
      object-fit: cover;
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

}

.formCreation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
  grid-column: col-start 2 / col-end 11;
  margin-top: 8rem;

  .inputFields {
    grid-column: 1 / 6;

    @include respond(bp-large) {
      grid-column: 1 / -1;
      margin-bottom: 6rem;
    }

    @include respond(bp-small) {

      .fieldLable {
        font-size: 2rem;
        flex: 30%;
      }

    }

    .field {
      height: auto;
      flex-direction: column;
      justify-content: space-around;
      margin: 0 0 0.6rem 0;

      .fieldLable {
        margin-bottom: 1rem;
      }

      .form-control {
        height: 4rem;
        color: $maintext;

        &::-webkit-input-placeholder {
          color: rgba($placeholder-blue, .7);
          font-weight: 600;
        }
      }
    }

  }

  .cat-list {
    grid-column: 7 / -1;

    @include respond(bp-large) {
      grid-column: 1 / -1;
      margin-bottom: 6rem;
    }

    .heading-5 {
      text-align: center;
      font-size: 1.8rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3rem;

      .cat_list_item {
        list-style: none;
        width: 33%;
        margin-bottom: 3rem;
        display: flex;
      }
    }
  }

  .heading-4 {
    font-size: 2.7rem;
    grid-column: 1/-1;
    text-align: center;
    padding: 7rem 0;
  }

  .upload-btn {
    grid-column: 1 / -1;
    justify-self: end;
    padding: 1rem 0;
    margin: 3rem 0;
  }

  .inputTextbox {
    grid-column: 1 / -1;
    margin: 3rem 0 1rem 0;

    .quill {
      width: 100%;
    }
  }

  .btn-publish {
    grid-column: 1 / -1;
    justify-self: end;
    margin: 3rem 0;
  }
}