.art-detail {
  height: 70rem;

  .herobg {
    object-position: top;
  }

  @include respond(bp-large) {
    height: 58rem;

    .herobg {
      object-position: top;
    }
  }

  @include respond(bp-small) {
    height: 50rem;
  }

  @include respond(bp-smallest) {
    height: 50rem;
  }

  @include respond(bp-smallest) {
    height: 40rem;
  }
}

$margintop: 8rem;

.content-detail {
  grid-column: col-start 2 / col-end 11;
  position: relative;
  background-color: #fff;
  margin-top: -21rem;
  margin-bottom: 5rem;
  z-index: 200;

  display: grid;
  @include gridTempColumn;
  padding: 11rem 10rem;

  @include respond(bp-largest) {
    padding: 11rem 7rem;
  }


  @include respond(bp-large) {
    margin-top: 0;
    padding: 11rem 3rem;
    background-color: transparent;
  }

  @include respond(bp-medium) {
    grid-column: col-start 1/col-end 12;
  }



  .article_header {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 9rem;

    .heading-2 {
      margin-bottom: 1rem;

      @include respond(bp-small) {
        font-size: 3.2rem;
      }

      @include respond(bp-tiny) {
        font-size: 2.8rem;
      }
    }

    .subheading {
      color: $secondary;
      font-weight: bold;
    }

    .written-by {
      font-weight: bold;
      color: $primary;
      margin-top: 1.5rem;

      .published {
        color: $secondary;
      }
    }


    .article_actions {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      gap: 2rem;


      .favorite {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
        width: 3.5rem;
        justify-self: self-end;
        cursor: pointer;
        border: none;
        background-color: transparent;
      }

      .commentsIcon {
        background-color: #f5f5f5;
        width: 8.3rem;
        display: flex;
        height: 3.3rem;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.9rem;
        border: 2px solid #ededed;
        cursor: pointer;

        img {
          width: 2.1rem;
          height: 1.9rem;
        }

        .commentNumber {
          color: $night-time;
        }
      }

    }

  }

  .content {
    grid-column: 1/10;

    @include respond(bp-medium) {
      grid-column: 1/ -1;
    }

    p {
      margin-bottom: 1rem;
    }

    img {
      height: 41rem;
      object-fit: cover;
      object-position: top;
    }


  }

  .recent-stories {
    grid-column: 11 / -1;

    @include respond(bp-medium) {
      display: none;
    }

    .heading-3 {
      font-size: 3.5rem;
    }

    .articles {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 3rem;

      .card-OverlayType {
        height: 26.8rem;

        .card-info {

          @include respond(bp-large) {
            padding-top: 34%;
            padding-left: 2rem;
          }

          .title {
            font-size: 2.3rem;
            margin-bottom: 1rem;
          }

          .subtitle {
            font-size: 1.6rem;
          }
        }


        .overlay {
          background: linear-gradient(to bottom, rgb(0 0 0 / 17%) 0%, rgb(0 0 0 / 42%) 70%);
        }
      }
    }
  }

  .categories {
    margin-top: 4rem;
    grid-column: 1 / -1;

    .heading-3 {
      color: $secondary;
      ;
      font-size: 2.3rem;
      font-weight: 500;
    }

    ul {
      display: flex;
      margin-top: 2rem;
      flex-wrap: wrap;

      a {
        list-style: none;
        font-weight: bold;
        background-color: $primary;
        color: $white;
        padding: 0.5rem 2rem;
        border-radius: 2.4rem;
        font-size: 1.4rem;
        margin-right: .5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 1.6rem;
      }
    }
  }


  .author {
    margin-top: $margintop;
    grid-column: 1 / 11;
    display: flex;
    align-items: center;
    padding: 4rem 0;
    border-top: 1px solid rgb(173 190 213 / 49%);
    border-bottom: 1px solid rgb(173 190 213 / 49%);

    @include respond(bp-medium) {
      grid-column: 1 / -1;
    }

    @include respond(bp-tiny) {
      grid-column: 1/ -1;
      flex-direction: column;
      align-items: center;
    }

    .left {
      flex: 0 0 20rem;

      .avatar {
        width: 15.3rem;
        height: 15.3rem;
      }
    }

    .right {
      flex: 1;

      .name {
        font-size: 2.3rem;
        font-weight: bold;
        margin-bottom: 1rem;

        @include respond(bp-tiny) {
          text-align: center;
        }
      }

      .email {
        font-size: 1.6rem;
        color: $secondary;
        margin-bottom: 2.3rem;

        @include respond(bp-tiny) {
          text-align: center;
        }
      }

      .about {

        @include lineClamp(4);
      }

      .social {
        list-style: none;
        display: flex;
        gap: 4rem;
        margin-top: 3rem;

        @include respond(bp-tiny) {
          justify-content: center;
        }
      }
    }
  }

  .related {
    grid-column: 1/14;
    margin-top: $margintop;

    @include respond(bp-large) {
      grid-column: 1/14;
    }

    @include respond(bp-medium) {
      grid-column: 1/ -1;
    }

    .heading-3 {
      text-align: center;
      font-size: 3.5rem;
    }

    .related-blogs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 3rem;

      @include respond(bp-medium) {
        justify-content: center;
      }

      .card-OverlayType {
        width: calc(33% - 0.1rem);
        height: 31rem;
        margin-bottom: 7.2rem;

        @include respond(bp-large) {
          height: 28rem;
        }

        @include respond(bp-medium) {
          width: 50rem;
          height: 35rem;
          padding-top: 3rem;
          margin-bottom: 0.9rem;
        }

        img {
          height: 100%;
        }

        .card-info {
          padding: 0 2rem;
          padding-top: 17rem;
          width: 95%;

          .title {
            text-align: left;
            font-size: 2.1rem;

            @include respond(bp-medium) {
              font-size: 2.6rem;
            }
          }

          .subtitle {
            font-size: 1.6rem;
          }
        }

      }
    }

  }


  .divider {
    margin: 6rem auto;
    border: 1px solid rgba(104, 136, 187, 0.11);
    width: 100%;
  }

  .comments {

    .heading-3 {
      color: $secondary;
      ;
      font-size: 2.3rem;
      font-weight: 500;
      text-align: center;
    }

    .feed {
      margin-top: 5rem;

      .entry {
        display: grid;
        grid-template-columns: min-content max-content 1fr;
        grid-template-rows: max-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        align-items: end;
        margin-bottom: 8rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include respond(bp-smallest) {
          grid-template-columns: 1fr 1fr;
        }


        .avatar {
          width: 10rem;
          padding-bottom: 10rem;
          margin: auto;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          grid-column: 1 / 2;
          grid-row: 1 / 3;

          @include respond(bp-smallest) {
            grid-column: 1 / -1;
          }

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }

        }

        .name {
          color: $secondary;
          ;
          font-weight: bold;

          @include respond(bp-smallest) {
            grid-column: 1 / 1;
            text-align: right;
          }
        }

        .time {
          color: $primary;
          font-weight: bold;

          @include respond(bp-smallest) {
            text-align: left;
          }
        }

        p {
          grid-column: 2 / 4;

          @include respond(bp-smallest) {
            grid-column: 1 / -1;
          }
        }
      }
    }


  }

  .search {
    width: 75%;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 8rem;
  }

  .searchTerm {
    width: 100%;
    border: 2px solid rgba(72, 92, 113, 0.09);
    border-right-color: rgba(72, 92, 113, 0.09);
    border-right-style: solid;
    border-right-width: 2px;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0ABCC5;
  }

  .searchTerm:focus {
    color: #00B4CC;
  }

  .searchButton {
    width: 12.4rem;
    height: 6rem;
    border: 1px solid $secondary;
    background: $secondary;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: bold;
  }

  // .social {
  //   display: flex;
  //   width: 40%;
  //   justify-content: space-between;
  //   grid-column: 2 / -1;
  //   grid-row: 2 / -1;
  //   align-items: center;

  //   @include respond(bp-small) {
  //     width: 70%;
  //   }

  //   li {
  //     list-style: none;
  //   }

  //   .author_icon {

  //     @include respond(bp-smallest) {
  //       width: 3.9rem;
  //       height: 3.9rem;
  //     }
  //   }

  // 
  // }

  // @include createAvatar(13rem);

  // .avatar {
  //   border: 4px solid #fff;
  //   grid-row: 1 / -1;
  //   margin-right: 3rem;

  //   @include respond(bp-small) {
  //     width: 7.5rem;
  //     height: 7.5rem;
  //     border: 0px solid #fff;
  //   }
  // }

}