nav {
  display: grid;
  grid-column: full-start / full-end;
  @include gridTempColumn;
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.55);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 12rem;
  color: $white;
  font-family: noto-sans-display, sans-serif;
  font-weight: bold;

  @include respond(bp-medium) {
    display: none;
  }

  .top {
    grid-column: center-start / center-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 1rem 0;

    .searchicon {
      fill: $white;
      width: 2rem;
      height: 2rem;
    }

    .logo {
      width: 19.2rem;
    }

    .weather-box {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 5rem);

      img {
        width: 11rem;
        height: 11rem;
        margin-left: -3rem;
      }

      .temp {
        margin-left: 1rem;
        color: $thirdcolor;
      }
    }

    .profile-logo {
      cursor: pointer;
    }

    .authDashSignout {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 18rem;

      li {
        position: relative;

        .search-icon {
          margin-right: 0rem;
          width: 2.5rem;
          height: 2.5rem;
          fill: #fa9c50;
          transition: fill 300ms linear;
          cursor: pointer;

          &:hover {
            fill: white;
          }
        }

        a {
          position: absolute;
          z-index: 1000;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid #fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
          }
        }
      }

      .sign-out {
        color: $thirdcolor;
        cursor: pointer;
        margin-left: -2.9rem;
      }
    }
  }

  .bottom {
    grid-column: center-start / center-end;
    margin-top: -3.3rem;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        list-style: none;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.mobile-nav {
  display: none;
  grid-column: full-start / full-end;
  @include gridTempColumn;
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.55);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 9.5rem;
  color: $white;
  font-family: noto-sans-display, sans-serif;
  font-weight: bold;
  padding-top: 0.2rem;
  // align-content: center;

  @include respond(bp-medium) {
    display: grid;
  }

  .navigation {
    grid-column: col-start 1 / col-end 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    .mobile-logo {
      width: 15.4rem;
    }

    .mobile-icon {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}

.mobile-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 16, 39, 0);
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  transition: all 400ms linear;
  visibility: hidden;

  .close {
    position: absolute;
    top: 4rem;
    right: 5%;
    width: 5rem;
    height: 5rem;
    fill: white;
  }

  .links {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    padding-left: 8rem;
    list-style: none;

    li {
      font-size: 2.7rem;
      margin-bottom: 3rem;
      font-weight: 600;
      color: #fff;

      .weather-box {
        display: flex;
        align-items: center;

        img {
          width: 13rem;
          margin-left: -3.3rem;
        }

        .temp {
          font-size: 2.6rem;
          color: $thirdcolor;
          margin-left: -0.4rem;
        }
      }
    }

    .weather {
      margin-bottom: 0rem;
    }

    .profileAvatarMobile {
      margin-bottom: 11rem !important;
    }
  }

  .avatarMobile {
    position: absolute;

    .profile-logo {
      cursor: pointer;
    }

    .authDashSignout {
      list-style: none;
      display: flex;
      justify-content: space-between;
      height: 13rem;
      flex-direction: column;
      width: 11.5rem;

      li {
        position: relative;

        a {
          position: absolute;
          z-index: 1000;
          width: 11.5rem;
          height: 11.5rem;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid #fff;
          top: 50%;
          transform: translateY(-50%);

          img {
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
          }
        }
      }

      .sign-out {
        color: $thirdcolor;
        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 16, 39, 0.92);
}

.day-time {
  color: $thirdcolor !important;
}

.night-time {
  color: $night-time !important;
}
