@import url("https://use.typekit.net/znh5rcn.css");

$font-primary: interstate, sans-serif;
$font-links: noto-sans-display, sans-serif;
$font-primary-bold: interstate-condensed, sans-serif;


%heading {
  // font-family: ivypresto-headline, sans-serif;
  font-family: interstate-condensed, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: $primary
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
}

.heading-3 {
  @extend %heading;
  font-size: 2.6rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
}

.heading-5 {
  @extend %heading;
  font-size: 1.6rem;
}

%admin_heading {
  font-family: interstate-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  color: $primary
}

.admin_heading-1 {
  @extend %admin_heading;
  font-size: 4.5rem;
}

.admin_heading-2 {
  @extend %admin_heading;
  font-size: 4rem;
}

.admin_heading-3 {
  @extend %admin_heading;
  font-size: 2.6rem;
}

.admin_heading-4 {
  @extend %admin_heading;
  font-size: 1.9rem;
}

.admin_heading-5 {
  @extend %admin_heading;
  font-size: 1.6rem;
}
