/*
COLORS:
*/

// $purple: #61408f;
// $secondary: #1dc5db;
// $orange: #fa9c50;
$primary: #003ad8;
$secondary: #adc3e9;
$thirdcolor: #fa9c50;
$danger: #dd0505;
$success:#008b6d;
$warning:#ffd000;
$maintext: #38416d;
$white: #fff;
$borderColor: rgb(212, 222, 239);
$placeholder-blue: #1353A4;
$night-time: #55a0ff;

